@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fireworks {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffd700;
  border-radius: 50%;
  animation: fireworks 1s infinite ease-out;
}

.firework:nth-child(1) {
  top: 20%;
  left: 30%;
  animation-delay: 0s;
}

.firework:nth-child(2) {
  top: 50%;
  left: 60%;
  animation-delay: 0.3s;
}

.firework:nth-child(3) {
  top: 70%;
  left: 40%;
  animation-delay: 0.6s;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
